<div class="table-responsive">
<table class="table table-striped table-hover">
    <thead>
      <tr>
    	<th>JAN</th>
    	<th>FEV</th>
    	<th>MAR</th>
    	<th>ABR</th>
    	<th>MAI</th>
    	<th>JUN</th>
    	<th>JUL</th>
    	<th>AGO</th>
    	<th>SET</th>
    	<th>OUT</th>
    	<th>NOV</th>
    	<th>DEZ</th>
      </tr>
    </thead>
    <tbody>
  <tr>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
  </tr>
  <tr>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
  </tr>
  <tr>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
  </tr>
  <tr>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
  </tr>
    </tbody>
</table>
</div>
